*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-image: url("./assests/pexels-maxyne-barcel-10402282\ 1.png"); */
     /* height: 100vh;
    width: 100vw; */
    background-repeat: no-repeat;
    background-size:cover; 
    /* background: url('./assests/pexels-maxyne-barcel-10402282\ 1.png') no-repeat center center/cover; */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./assests/pexels-maxyne-barcel-10402282\ 1.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    /* background-color:rgb(0,0,0,0.3); */
    
    
    
    
    

}

/* #body::after{
    content: "";
    /* background: url('./assests/pexels-maxyne-barcel-10402282\ 1.png') no-repeat center center/cover; */
    /* height: 100vh; */
    /* opacity: 0.9;
    z-index: 1; */

/* } */ 
.logo{
    /* margin: 20px; */
    /* left: 200px; */
    padding-left: 20px;
    
    
}
.logo img{
    height: 40px;
}
 nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* gap: 40px; */
    margin-top: 25px;
} 
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 170, 0);
    font-weight: 600;
    font-size: 18px;
    
}
nav button{
    margin-right: 100px;
}
button{
    margin: 24px;
    border: 1px solid rgb(236, 91, 91);
    padding: 8px 28px;
    background-color:rgb(236, 91, 91);
    color: white;
    font-size: 15px;
    font-weight: 700;
   /* background-color: #ee5555; */
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 550px;
}

.heading{
    text-align: center;
    font-size: 37px;
    /* font-weight:; */
    color: rgb(255, 179, 0);
    /* height: 100%; */
    /* width: 150%; */
    line-height: 60px;
}
/* .button2{
    margin-top: 25px;
    font-size: 20px;
    padding: 20px;
} */
footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* margin-top: 250px; */
    position: fixed;
    bottom: 20px;
    right: 20px;
}


